[run]
source=
    .
branch= False

plugins =
    django_coverage_plugin
omit=
    */node_modules/*
    */venv/*
    */migrations/*
    */slinky/*
    */templates/socialaccount/*
    */templates/*
    */manage.py
    */validators.py
    */frontend/*


[report]
fail_under = 100
skip_covered = False