button:hover
    {
      opacity: 0.8;
    }

    h1 {font-family: "Impact", Charcoal, sans-serif; color: black;}
    a {color: #4682B4;}

    form
    {
      border: 3px solid #f1f1f1;
    }

    button
    {
      background-color: #4682B4;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 25%;
    }

    .container
    {
      padding: 16px;
    }