{% extends "base_template.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/cart_view.css' %}">

{% endblock %}

{% block content %}
    <h1 style="margin:40px">Shopping Cart</h1>
    {% if  not user.customer.get_cart.get_cart_entries %}
        <h1 style="margin:40px">
            Your cart is empty!<br><a href="{% url 'eaterie:order_list_view' %}">Go to orders</a>
        </h1>
    {% else %}
    {% for cart_entry in user.customer.get_cart.get_cart_entries %}
<div class="container">
    <div class="row"></div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                        <table class="table table-striped">
                        <thead class="cart-rows">
                        <tr>
                            <th>Item</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Remove</th>
                        </tr>
                        </thead>
                            <tbody class="cart-items">
                            <tr>
                                <td>
                                    <h4>{{ cart_entry }}</h4>
                                    <img src="{{ cart_entry.get_menu_item.get_image_file.url }}" height="100" alt="">
                                </td>
                                <td><p style="font-size:10px">{{ cart_entry.get_menu_item.get_description|truncatewords:40 }}</p></td>

                                <div>
                                    <form method="POST">
                                        {% csrf_token %}
                                    <td>
                                        <input hidden type="text" name="cartpk" value="{{ cart_entry.get_menu_item.pk }}" readonly>
                                        <input class="cart-quantity-input" type="number" value="{{ cart_entry.get_quantity }}" min="0" step="1" name="item_amount"/>
                                        <input type="submit" class="btn btn-primary quantity-button" value="Change quantity" name="item_amount_button"/>
                                    </td>
                                    </form>
                                </div>
                                <div class="cart-price">
                                <td><p>${{ cart_entry.menu_item.price }} each</p></td>
                                </div>
                                <div class="product-removal">
                                   <form method="POST">
                                        {% csrf_token %}
                                <td>
                                    <input hidden type="text" name="cartpk" value="{{ cart_entry.get_menu_item.pk }}" readonly>
                                    <input type="submit" class="btn btn-danger" value="Remove" name="remove_from_cart_button"/>
                                </td>
                                    </form>
                                </div>



                            </tr>
                                </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    <h1 class="text-center cart-total">Total cost: ${{ user.customer.cart.calculate_total_cost}}</h1>
    <div style="text-align:center">
    <button type="button" data-toggle="modal" data-target="#modal-checkout" class="btn btn-success checkoutButton">
        <i class="fa fa-shopping-cart cart-icon"></i> Check Out</button>
    </div>

    <div class="modal fade" id="modal-checkout" name="modal-checkout" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Are You Sure You're Ready to Order?</h5>
                </div>
                <div class="modal-body">
                    <p> Your order would cost ${{ user.customer.get_cart.calculate_total_cost }}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="special_instructions">Special Instructions:</label>
                        <input type="text" name="special_instructions">
                        <input type="submit" class="btn btn-primary" value="Checkout" name="checkout_button"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-closemodal" data-dismiss="modal">Back to Cart</button>
                </div>
            </div>
        </div>
    </div>
<script>

</script>
    {% endif %}
{% endblock %}