{% extends "base_template.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/cart_view.css' %}">
{% endblock %}

{% block content %}
    <h1>Shopping Cart</h1>
    {% if  not user.customer.cart.cartentry_set.all %}
        <h1>Your cart is empty!</h1>
    {% else %}
    {% for cart_entry in user.customer.cart.cartentry_set.all %}
<div class="container">
    <div class="row"></div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                        <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Remove</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <h4>{{ cart_entry }}</h4>
                                    <img src="{{ cart_entry.menu_item.image_file.url }}" height="100" alt="">
                                </td>
                                <td><p style="font-size:10px">{{ cart_entry.menu_item.description|truncatewords:40 }}</p></td>

                                <td><input class="quantity" type="number" default="1" min="1" step="1" name="item_amount"/></td>
                                <td><p>${{ cart_entry.menu_item.price }} each</p></td>
                                <td><button type="button" class="btn btn-danger">Remove</button></td>



                            </tr>
                                </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
    <h1 class="text-center">Total cost: ${{ user.customer.cart.calculate_total_cost}}</h1>

    <button type="button" data-toggle="modal" data-target="#modal-checkout" class="btn btn-success checkoutButton">
        <i class="fa fa-shopping-cart cart-icon"></i> Check Out</button>

    <div class="modal fade" id="modal-checkout" name="modal-checkout" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Are You Sure You're Ready to Order?</h5>
                </div>
                <div class="modal-body">
                    <p> {{ user.customer.cart.calculate_total_cost }}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="special_instructions">Special Instructions:</label>
                        <input type="text" name="special_instructions">
                        <input type="submit" class="btn btn-primary" value="Checkout" name="checkout_button"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-closemodal" data-dismiss="modal">Back to Cart</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}