{% extends "base_template.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '' %}"> <!-- For adding css files to this html document -->
{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <div class="container" style="padding-bottom: 20px;">
        <h1 class="d-flex justify-content-center" style="padding-top: 10px; color: #0057B8;">Welcome back, {{ user.get_first_name }}!</h1>
        <form action="">
            <div class="input-group justify-content-center">
                {% for field in form.visible_fields %}
                    {% render_field field size="60" placeholder=field.label %}
                {% endfor %}
                <div class="input-group-append">
                    <input class="btn btn-primary" type="submit" value="Find Food"/>
                </div>
            </div>
        </form>
    </div>

    <div class="container w-75">
        {% if restaurants %}
            {% if request.GET.zip_code %}
            <div class="h-auto card-deck">
                {% for restaurant in restaurants %}
                    <div class="w-25 h-25 card text-center">
                        <a href="{% url 'eaterie:restaurant_menu' restaurant.pk %}" class="list-group-item list-group-item-action list-group-item-light">
                            <img src="{{ restaurant.get_image_file.url }}" class="card-img-top rounded mx-auto d-block" alt="Restaurant Image" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: rgba(0, 0, 0, 1);">{{ restaurant.get_name }}</h5>
                            <p>{% if restaurant.get_address %}
                            {{ restaurant.get_address }}<br>
                            {% endif %}<b>Phone:</b> {{ restaurant.get_phone_number }}</p>
                        </div>
                        <div class="card-body text-center" style="border-top: 1px solid rgba(0,0,0,.1);">
                             {{ restaurant.get_food_quality }} - {{ restaurant.get_average_price }}
                        </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <br>
                {% if is_paginated %}
                {% endif %}
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ page_obj.previous_page_number }}&zip_code={{ request.GET.zip_code }}"><i
                                        class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1"><i class="fa fa-chevron-left"></i></a>
                            </li>
                        {% endif %}

                        {% if page_obj.number|add:'-4' > 1 %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ page_obj.number|add:'-5' }}&zip_code={{ request.GET.zip_code }}">&hellip;
                                </a>
                            </li>
                        {% endif %}

                        {% for num in paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="">{{ num }}</a>
                                </li>
                            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ num }}&zip_code={{ request.GET.zip_code }}">{{ num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.num_pages > page_obj.number|add:'4' %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ page_obj.number|add:'5' }}&zip_code={{ request.GET.zip_code }}">&hellip;
                                </a>
                            </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ page_obj.next_page_number }}&zip_code={{ request.GET.zip_code }}"><i
                                        class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1"><i class="fa fa-chevron-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            {% else %}
            <!--Suggestion: Restaurants near you-->
            <h4 class="d-flex justify-content-left" style="padding-top: 10px; color: #0057B8;">Some suggestions near you...</h4>
            <div class="h-auto card-deck">
            {% for restaurant in restaurants|slice:":6" %}
                <div class="w-25 h-25 card text-center">
                        <a href="{% url 'eaterie:restaurant_menu' restaurant.pk %}" class="list-group-item list-group-item-action list-group-item-light">
                            <img src="{{ restaurant.get_image_file.url }}" class="card-img-top rounded mx-auto d-block" alt="Restaurant Image" style="width: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: rgba(0, 0, 0, 1);">{{ restaurant.get_name }}</h5>
                            <p>{% if restaurant.get_address %}
                            {{ restaurant.get_address }}<br>
                                {% else %}
                                 No street address available<br>
                            {% endif %}
                                {{ restaurant.get_zip_code.get_zip_city_state }}
                                <b>Phone:</b> {{ restaurant.get_phone_number }}</p>
                        </div>
                        <div class="card-body text-center" style="border-top: 1px solid rgba(0,0,0,.1);">
                            {{ restaurant.get_food_quality }} - {{ restaurant.get_average_price }}
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% elif request.GET.zip_code %}
            <p class="d-flex justify-content-center">No results</p>
        {% endif %}
    </div>
{% endblock %}
