{% extends "base_template.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
    <h1 style="margin-left: 40px;margin-top: 20px">Orders</h1>
    {% if order_list %}
    {% for order in order_list %}
        <div class="card" style="margin: 40px">
            <div class="row">
                <div class="col-sm-5" style="margin: 20px">

                    <h4>{{ order }}</h4>
                     <p>${{ order.get_total_cost }} total cost</p>
                    <p> Order placed at {{ order.get_time }} on {{ order.get_date }}</p>

                    {% if user.is_customer %}
                    <div class = "container">
                        <div class="divL">
                            <a class="btn btn-primary" href="{% url 'eaterie:order_detail_view' user.pk order.pk %}">More Details</a>
                        </div>
                        <div class="divR">
                            <a class="btn btn-primary" href="{% url 'eaterie:review_update_form' pk=user.pk pk_review=order.get_review.pk %}">Leave a Review</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if user.is_restaurant %}
                        <p>Order placed by {{ order.get_customer }}</p>
                        <div id="accordion" role="tablist" style="margin-bottom: 10px">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse{{ order.id }}">
                                        Show Items in Order
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse{{ order.id }}" class="collapse" role="tabpanel">
                                {% for item in order.get_order_items %}
                                    <li style="margin-left:20px">{{ item.get_quantity }} {{ item.get_menu_item.get_name }}</li>
                                {% endfor %}
                            </div>
                        </div>
                        <div class = "container">
                            <form method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="order_id" value="{{ order.id }}" readonly>
                                <div class = "divL">
                                    {% if order.is_fulfilled %}
                                        <input type="submit" class="btn btn-danger" name="fulfill" value="Set to unfulfilled"/>
                                    {% else %}
                                        <input type="submit" class="btn btn-success" name="fulfill" value="Set to fulfilled"/>
                                    {% endif %}
                                </div>
                                <div class = "divR">
                                    {% if order.is_cancelled %}
                                        <input type="submit" class="btn btn-success" name="cancel" value="uncancel order"/>
                                    {% else %}
                                        <input type="submit" class="btn btn-danger" name="cancel" value="Cancel Order"/>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
                {% if user.is_customer  %}
                <div class="col-sm-3" style="margin: 20px">
                    <img src="{{ order.get_restaurant.get_image_file.url }}" height="100">
                </div>
                {% endif %}
            </div>
        </div>
        <p></p>
    {% endfor %}
    {% endif %}
{% endblock %}