{% extends "base_template.html" %}
{% block content %}
    <h1>Orders</h1>
    {% if order_list %}
    <ul>
    {% for order in order_list %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4>{{ order }}</h4>
                 <p>${{ order.get_total_cost }} total cost</p>
                <p> Order made at {{ order.get_time }} on {{ order.get_date }}</p>
                <div class = "container">
                    <div class="divL">
                        <a class="btn btn-primary" href="{% url 'eaterie:order_detail_view' user.pk order.pk %}">More Details</a>
                    </div>
                    <div class="divR">
                        <a class="btn btn-primary" href="{% url 'eaterie:review_update_form' pk=user.pk pk_review=order.get_review.pk %}">Leave a Review</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}