{% extends "base_template.html" %}
{% load static %}

{% block content %}
    <h1 style="margin-left: 30px;margin-top: 40px">{{ order }} on {{ order.get_date }} at {{ order.get_time }}</h1>
    {% if not order.is_cancelled and not order.is_fulfilled %}
        <div style="margin: 30px">
            <span class="badge badge-success"> This order is in progress</span>
        </div>
    {% elif order.is_cancelled %}
        <div style="margin: 30px">
            <span class="badge badge-danger"> This order has been cancelled</span>
        </div>
    {% endif %}
    {% if order.is_fulfilled %}
        <div style="margin: 30px">
            <span class="badge badge-success"> This order has been fulfilled</span>
        </div>
    {% endif %}

    {{ order.get_special_instruction }}
    {% for order_item in order.get_order_items %}
        <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4>{{ order_item }}</h4>
                 <p>${{ order_item.get_menu_item.get_price }} each</p>
                <div class="row" style="max-height: 150px">
                     <div class="col-md-6 test">
                    <p style="font-size:10px">{{ order_item.get_menu_item.get_description|truncatewords:40 }}</p>
                    </div>
                    <div class="menu-image">
                     <img src="{{ order_item.get_menu_item.get_image_file.url }}" height="100" alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}