{% extends "base_template.html" %}

{% block content %}

    {% if not user.restaurant.get_description %}
        <div class="alert alert-danger" style="margin-left: 30%;margin-right: 30%; margin-top:40px">Set a description to let the world know what your restaurant is about!</div>
    {% endif %}

    {% if not user.restaurant.get_address %}
        <div class="alert alert-danger" style="margin-left: 30%;margin-right: 30%; margin-top:40px">Set an address so people know where to find you!</div>
    {% endif %}

    {% if not user.restaurant.get_categories %}
        <div class="alert alert-danger" style="margin-left: 30%;margin-right: 30%; margin-top:40px">Add food items to your menu so you can get customers!</div>
    {% endif %}

    {% if user.restaurant.get_description and user.restaurant.get_address and user.restaurant.get_categories  %}
        <div class="alert alert-success" style="margin-left: 30%;margin-right: 30%; margin-top:40px">You're all caught up to date! Here comes the money!</div>
    {% endif %}
{% endblock %}