{% extends "base_template.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}
{% block content %}


    <div class="center" style="text-align: center">
        <img src="{{ restaurant.get_image_file.url }}" width="10%" alt="">
    </div>
    <ul class="list-group">

        <li class="list-group-item">
            <div class="container">
                <h1>{{ restaurant.get_name }}</h1>
                {{ restaurant.get_zip_code.get_zip_city_state }}
                {% if restaurant.get_address %}
                <p>{{ restaurant.get_address }} </p>
                {% endif %}
                <p>Phone number: {{ restaurant.get_phone_number }}</p>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container">
                <p>{{ restaurant.get_description }}</p>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container">
                <p>
                    {{ restaurant.get_food_quality }}
                </p>
                <p>
                    {{ restaurant.get_average_price }}
                </p>
                    This restaurant has cancelled {{ restaurant.get_cancelled_orders_percentage|floatformat }}% of their orders!
            </div>

        </li>

    </ul>

    <div class="container">

        <p></p>

        <div id="accordion" role="tablist">
            {% for menu_category in restaurant.get_categories %}

                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse{{ menu_category.id }}">
                            {{ menu_category.get_category_name }}
                        </a>
                    </h5>
                </div>
                <div id="collapse{{ menu_category.id }}" class="collapse show" role="tabpanel">
                    <div class="row">
                        {% for menu_item in menu_category.get_menu_items %}
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>{{ menu_item.get_name }}</h4>
                                        <p>${{ menu_item.get_price }}</p>
                                        <div class="row" style="max-height: 150px">
                                            <div class="col-md-6">
                                                <p style="font-size:10px">{{ menu_item.get_description|truncatewords:40 }}</p>
                                            </div>
                                            <div class="menu-image">
                                                <img src="{{ menu_item.get_image_file.url }}" height="100"
                                                     alt="">
                                            </div>
                                        </div>
                                        {% if user.is_customer %}
                                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal-item-{{ menu_item.pk }}" >Order Here</button>

                                                                                    <!-- Add to cart modal -->
                                        <div class="modal fade" id="modal-item-{{ menu_item.pk }}" name="{{ menu_item.get_name }}" tabindex="-1" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="add_to_cart_title">{{ menu_item.get_name }} - ${{ menu_item.get_price }}</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container" style="margin-right:40px">
                                                            <div class="divL">
                                                                <p> How many {{ menu_item.get_name }}(s) would you like? </p>
                                                            </div>
                                                            <div class="divR" >
                                                                <form method="POST">
                                                                    {% csrf_token %}
                                                                    <input hidden type="text" name="mipk" value="{{ menu_item.pk }}" readonly>
                                                                <label for="item_amount"> {{ menu_item.get_name }} quantity:</label><br>
                                                                    <input type="number" value ="1" default="1" min="1" step="1" name="item_amount" style="width: 150px;margin-bottom: 20px" />
                                                                    <input type="submit" class="btn btn-primary" value="Add to cart" name="add_to_cart_button"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn-closemodal" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}