.checkoutButton {
    display: block;
    max-width: 1000px;
    margin: auto;
}

.quantity {
    display: block;
    max-width: 50px;
    margin: auto;
}

.cart-quantity-input {
    margin-bottom: 20px;
}

.quantity-button {
    margin-left: 1em;
}