.menu-image {
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
	border: 2px #bfbfbf solid;
  }

.divL, .divR {
        box-sizing: border-box;
        padding: 10px;
      }
      .divL {
        background: #ffe9c6;
        /* OPTIONAL WIDTH
        width: 40% */
      }
      .divR {
        background: #ffdad8;
        /* OPTIONAL WIDTH
         width: 60% */
      }