.menu-image {
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
	border: 2px #bfbfbf solid;
  }

.divL, .divR {
        box-sizing: border-box;
        padding: 10px;
      }
      .divL {
        /* OPTIONAL WIDTH
        width: 40% */
      }
      .divR {
        /* OPTIONAL WIDTH
         width: 60% */
      }

.message {
    width: 93.5%;
    margin: 1em;
}