/*SemanticUI icons*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/*---------------*/

body {
  background: whitesmoke;
}
.page-footer {
  color: #0057B8;
}

/*--- navigation bar ---*/
.navbar {
  background: rgba(0, 87, 184, 1);
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: rgba(0, 0, 0, 1);
}
.navbar-collapse {
  justify-content: flex-end;
}
.custom-toggler.navbar-toggler {
  border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*CSS for the badges*/
[class *="badge-"] {
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.badge-onNav{
  background-color: #00b4ff;
}
.badge-onPreview{
  background-color: gray;
}

/*CSS mostly for the preview*/
.nav-Cart{
  position: relative;
  display: inline-block;
}
.nav-Cart .nav-CartContents{
  float:right;
  visibility: hidden;
  width: 320px;
  background-color: white;
  color: gray;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -270px;
  /*Time to fade in completely*/
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 1s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.nav-Cart .nav-CartContents::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.nav-Cart:hover .nav-CartContents{
  transition-delay: 1s;
  visibility: visible;
  opacity: 1;
}
.nav-CartHeader{
  color: gray;
}
.nav-CartTotal{
  color: #0057B8;
}
[call*="nav-CartBody-"]{
  padding-top: 5px;
}
.nav-CartBody-li {
  margin-bottom: 18px;
  }
.nav-CartBody-img{
  float:left !important;
  margin-left: 15px;
}
.nav-CartBody-item-name{
  color:#000000;
  display: block;
  //padding-top:5px;
  font-size:16px !important;
}
.nav-CartBody-item-price{
  color: #0057B8 !important;
  margin-right: 8px;
}
.nav-CartBody-item-quantity{
  color: dimgray !important;
}

/*-- modal design --*/
.btn-restaurant-customer{
  background-color: #0057B8;
  color: white;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;}
.btn-restaurant-customer:hover{
  background-color: #0057B8;
  color: #000000;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 5px;
}
.btn-closemodal{
  background-color: whitesmoke;
  font-size: 1em;
  color: gray;
  padding: 3px;
  border: 1px solid rgb(214, 207, 207);
  border-radius: 100px;
}
.modal-content {
  background-color: whitesmoke;
  border-radius: 25px;
}
.modal-header {
  font-size: 2em;
  text-align: center;
  border-bottom: 2px dotted rgb(214, 207, 207);
}
.modal-body{
  column-count: 2;
}
.modal-footer{
  border-top: 2px dotted rgb(214, 207, 207);
  text-align: right;
  padding-right: 5%;
}
